$default: #c0c0c0;

%btn {
  position: relative;
  padding: 10px 20px 12px 40px;
  background-color: #fff;
  border-radius: 14px;
  color: #000;
  transition: box-shadow 0.5s ease;
  &::before {
    position: absolute;
    content: '';
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    background-color: #000;
    border-radius: 50%;
  }
  &:hover {
    box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.8);
  }
}

%poppins-400 {
  font-family: "Poppins-Regular", sans-serif;
  font-weight: 400;
}